@font-face {
    font-family: 'pc';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
h1{
    color:royalblue;
    font-family: 'Nanum Gothic', sans-serif;
        font-family: 'Orbit', sans-serif;
}
strong{
    border-bottom: 5px solid currentColor;
}

h2 {
    color: #999;
    font-family: 'Pretendard-Regular', Verdana, sans-serif;
}
.font-pc{
    font-family: pc;
}